#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            timeout-ms = <50>;
            key-positions = <0 1 2 3>;
            bindings = <&kp ESC>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <28 29 30 27>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <1 2 3>;
        };

        S_Tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <1 2 0>;
        };

        C_Backspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <6 8 7>;
        };

        C_DEL {
            bindings = <&kp LC(DEL)>;
            key-positions = <7 8 9>;
        };

        S_Enter {
            bindings = <&kp LS(ENTER)>;
            key-positions = <28 29 30>;
        };

        undersc {
            bindings = <&kp UNDERSCORE>;
            key-positions = <36 33>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    behaviors {
        mosl: mosl {
            compatible = "zmk,behavior-hold-tap";
            label = "MOSL";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            quick-tap-ms = <100>;
            tapping-term-ms = <170>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            bindings = <
        &kp SQT       &kp W  &kp F      &kp Y      &kp Q         &kp Z      &kp P          &kp G        &kp M  &kp J
        &kp A         &kp I  &kp R      &kp O      &kp K         &kp B      &kp N          &kp T        &kp H  &kp E
&trans  &kp QUESTION  &kp U  &kp S      &kp V      &kp PERIOD    &kp COMMA  &kp C          &kp D        &kp L  &kp X  &trans
                             &mosl 2 2  &kp SPACE  &mosl 4 4     &mosl 1 1  &kp BACKSPACE  &key_repeat
            >;
        };

        AlphaSHIFT {
            bindings = <
        &kp SQT          &kp LS(W)  &kp LS(F)  &kp LS(Y)  &kp LS(Q)     &kp LS(Z)  &kp LS(P)  &kp LS(G)  &kp LS(M)  &kp LS(J)
        &kp LS(A)        &kp LS(I)  &kp LS(R)  &kp LS(O)  &kp LS(K)     &kp LS(B)  &kp LS(N)  &kp LS(T)  &kp LS(H)  &kp LS(E)
&trans  &kp EXCLAMATION  &kp LS(U)  &kp LS(S)  &kp LS(V)  &kp PERIOD    &kp COMMA  &kp LS(C)  &kp LS(D)  &kp LS(L)  &kp LS(X)  &trans
                                    &trans     &trans     &trans        &trans     &trans     &trans
            >;
        };

        NumSymb {
            bindings = <
        &kp TILDE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERCENT    &kp AT_SIGN      &kp PLUS              &kp ASTERISK           &kp SLASH         &kp DOUBLE_QUOTES
        &kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp DOLLAR     &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON         &kp EQUAL
&trans  &kp CARET  &kp N7        &kp N8        &kp N9        &kp PERIOD     &kp COMMA        &kp LESS_THAN         &kp MINUS              &kp GREATER_THAN  &kp HASH           &trans
                                 &trans        &trans        &trans         &mosl 3 3        &trans                &trans
            >;
        };

        NumSymb2 {
            bindings = <
        &kp F10  &kp F1  &kp F2  &kp F3  &trans    &trans  &kp AMPERSAND     &trans             &trans         &trans
        &kp F11  &kp F4  &kp F5  &kp F6  &trans    &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GRAVE      &kp PIPE
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans    &trans  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp BACKSLASH  &trans    &trans
                         &trans  &trans  &trans    &trans  &trans            &trans
            >;
        };

        MedNav {
            bindings = <
        &trans  &kp C_STOP    &kp C_NEXT         &kp K_PREVIOUS      &trans    &trans     &kp HOME      &kp PG_UP   &kp END        &kp PG_DN
        &trans  &kp C_MUTE    &kp C_VOLUME_DOWN  &kp C_VOLUME_UP     &trans    &trans     &kp LEFT      &kp UP      &kp RIGHT      &kp DOWN
&trans  &trans  &kp C_REWIND  &kp C_PLAY_PAUSE   &kp C_FAST_FORWARD  &trans    &trans     &kp LC(LEFT)  &kp LC(UP)  &kp LC(RIGHT)  &kp LC(DOWN)  &trans
                              &trans             &trans              &trans    &mosl 5 5  &trans        &trans
            >;
        };

        layer_5 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &kp LS(HOME)      &kp LS(PG_UP)   &kp LS(END)        &kp LS(PG_DN)
        &trans  &trans  &trans  &trans  &trans    &trans  &kp LS(LEFT)      &kp LS(UP)      &kp RS(RIGHT)      &kp LS(DOWN)
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LS(LC(LEFT))  &kp LC(LS(UP))  &kp LS(LC(RIGHT))  &kp LS(LC(DOWN))  &trans
                        &trans  &trans  &trans    &trans  &trans            &trans
            >;
        };
    };
};
