#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Esc {
            timeout-ms = <50>;
            key-positions = <0 1 2 3>;
            bindings = <&kp ESC>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <28 29 30 27>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <1 2 3>;
        };

        S_Tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <1 2 0>;
        };

        C_Backspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <6 8 7>;
        };

        C_DEL {
            bindings = <&kp LC(DEL)>;
            key-positions = <7 8 9>;
        };

        S_Enter {
            bindings = <&kp ENTER>;
            key-positions = <28 29 30>;
        };

        undersc {
            bindings = <&kp UNDERSCORE>;
            key-positions = <25 26>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
        &kp Z  &kp W  &kp Y  &kp P      &kp X        &kp J           &kp D          &kp S        &kp K  &kp SQT
        &kp A  &kp R  &kp I  &kp N      &kp B        &kp G           &kp T          &kp H        &kp O  &kp E
&trans  &kp Q  &kp L  &kp U  &kp C      &kp COMMA    &kp PERIOD      &kp M          &kp F        &kp V  &kp MINUS  &trans
                      &to 1  &kp SPACE  &to 0        &kp LEFT_SHIFT  &kp BACKSPACE  &key_repeat
            >;
        };

        NumSymb {
            bindings = <
        &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &kp DOLLAR       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMI      &kp PIPE
        &kp N0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PERIOD    &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON     &kp EQUAL
&trans  &trans  &kp N7        &kp N8        &kp N9        &trans        &kp HASH         &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp QUESTION  &kp AT_SIGN  &trans
                              &to 3         &kp SPACE     &to 0         &mo 2            &kp UNDERSCORE        &kp BACKSPACE
            >;
        };

        NumSymb2 {
            bindings = <
        &kp F10  &kp F1  &kp F2  &kp F3  &trans    &trans  &trans  &trans  &trans  &trans
        &kp F11  &kp F4  &kp F5  &kp F6  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        NavAux {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans          &kp HOME      &kp PG_UP   &kp END        &kp PG_DN
        &trans  &trans  &trans  &trans  &trans    &trans          &kp LEFT      &kp UP      &kp RIGHT      &kp DOWN
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &kp LC(LEFT)  &kp LC(UP)  &kp LC(RIGHT)  &kp LC(DOWN)  &trans
                        &trans  &trans  &trans    &kp LEFT_SHIFT  &trans        &trans
            >;
        };
    };
};
